MYSQL_ROOT_PASSWORD=your-password
MYSQL_DATABASE=your-db-name
MYSQL_USER=your-db-user
MYSQL_PASSWORD=your-db-password
WORDPRESS_DB_HOST=wordpress
WORDPRESS_DB_NAME=your-db-name
WORDPRESS_DB_USER=your-db-user
WORDPRESS_DB_PASSWORD=your-db-password
PMA_HOST=your-pma-host
PMA_USER=your-pma-user
PMA_PASSWORD=your-pma-password